@media (max-width: 768px) {
    .navigation{
      display:none;
    }
    .burger-bar{
        display: block;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .navigation.chans{
        display: block;
    }
}